body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0px;
}

textarea,
input,
button {
  font-size: 1rem;
  font-family: inherit;
  border: none;
  border-radius: 4px;
  padding: 0.3rem 0.75rem;
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
  background-color: white;
  line-height: 1.5;
}
button {
  color: #3992ff;
  font-weight: 500;
  margin: 10px;
}

#search-text {
    width: 42rem;
}

#top-bar {
    box-shadow: 1px 1px 10px hsla(0, 0%, 0%, 0.2)
}

.content {
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
}

#search-form {
    display: inline;
    margin-right: 20px;
}

#search-bar {
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#claim {
    margin-top: 50px;
}

#h1-claim-details {
    margin-bottom: 0px;
}

td {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border: 1px solid #aaaaaa;
}

table {
    border-collapse: collapse;
    border-radius: 4px; 
}

.claim-field-label {
    background-color: #c4e2ff;
}

#claim-description {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 10rem;
    resize: vertical;
}

#claim-title {
    box-sizing: border-box;
    width: 100%;
}

#submit-claim-btn {
    float: right;
}

.claim-id {
    color: darkgrey;
}

.mytooltip {
    position: relative;
    display: inline-block;
    font-weight: bold;
    border-bottom: 1px dotted black;
}

.mytooltiptext {
    font-weight: normal;
    width: fit-content;
    padding: 5px 10px;
    white-space: nowrap;
}

.mytooltip .mytooltiptext {
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 0px;
    opacity: 0;
    transition: opacity 0.3s;
}

.mytooltip .mytooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 20px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.mytooltip:hover .mytooltiptext {
    visibility: visible;
    opacity: 1;
}

.state-revealed, .state-concealed {
    margin: 10px 10px 10px 0px;
    padding: 8px 15px;
    border-radius: 30px;
    font-weight: bold;
    font-size: 1.1em;
}

.state-revealed {
    background-color: darkgreen;
}

.state-concealed {
    background-color: darkgrey;
    color: whitesmoke;
}

span {
    display: inline-block;
}